@model BlogViewModel

@{
    ViewData["Title"] = "Blog Details";
}

@section css{
<style>
    .blog-main-img-side {
        background-image: url(/uploads/blogs/@Model.BlogImages.FirstOrDefault(bi => bi.IsMain)?.ImagePath) !important;
    }
</style>
}

<!-- blog description starter start -->
<section id="blog-description-starter">
    <div class="container blog-description-starter-container">
        <div class="row blog-description-starter-row">
            <h1 class="blog-description-starter-heading">Blog Description Side</h1>
        </div>
    </div>
</section>
<!-- blog description starter end -->
<!-- blog description start -->
<section id="blog-description">
    <div class="container blog-description-container">
        <div class="row blog-description-row">
            <div class="col-10 col-xl-8 col-lg-8 col-md-10 col-sm-10 blog-description-col">
                <h2 class="blog-description-heading">@Model.Title</h2>
                <div class="blog-main-img-side"></div>
                <p class="blog-description-content">
                    @Model.Description
                </p>

                <h5 class="blog-description-second-heading">Other Images</h5>
                <div class="swiper blog-description-swiper">
                    <div class="swiper-wrapper blog-description-swiper-wrapper">
                        @foreach (var item in Model.BlogImages.Where(bi => !bi.IsMain))
                        {
                            <div class="swiper-slide">
                                <img src="~/uploads/blogs/@item.ImagePath" alt="Blog Description Other Images">
                            </div>
                        }
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog description end -->
<!-- movie description comment start -->
<section id="blog-description-comment">
    <div class="container blog-description-comment-container">
        <div class="row blog-description-comment-row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 blog-description-comment-col">
                <h2 class="comment-heading">20 Comments</h2>
                <p class="comment-helper-text">Write comments</p>
                <form method="post" id="blog-description-comment-form">
                    <div class="form-group mb-3">
                        <textarea cols="30" rows="4" class="blog-description-textarea form-control"
                                  placeholder="Comment"></textarea>
                    </div>
                    <div class="comment-btn-side">
                        <button type="submit">Submit Comment</button>
                    </div>
                </form>
            </div>
            <div class="col-xl-12 col-lg-122 col-md-12 col-sm-12 written-comments-col">
                <div class="written-comment">
                    <div class="row written-comment-row">
                        <div class="col-2 col-xl-1 col-lg-1 col-md-1 col-sm-2 written-comment-profile-side">
                            <div class="img-div">
                                <img src="~/assets/images/movie-details/people-1.jpg" alt="Profile Photo" />
                            </div>
                        </div>
                        <div class="col-10 col-xl-11 col-lg-11 col-md-11 col-sm-10  written-comment-content-side">
                            <h5 class="written-comment-content-heading">Emmy Gosling</h5>
                            <p class="written-comment-content-content">
                                Sed porttitor lectus nibh. Nulla quis lorem ut libero
                                malesuada feugiat. Vivamus suscipit tortor eget felis
                                porttitor volutpat. Nulla porttitor accumsan tincidunt.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                            <div class="written-comment-bottom-box">
                                <a href="#" class="reply-btn">Reply</a>
                                <p class="comment-date">January 29, 2019</p>
                            </div>
                        </div>
                    </div>

                    <div class="movie-details-replies">
                        <div class="written-comment reply">
                            <div class="row written-comment-row">
                                <div class="col-2 col-xl-1 col-lg-1 col-md-1 col-sm-2 written-comment-profile-side">
                                    <div class="img-div">
                                        <img src="~/assets/images/movie-details/people-2.jpg"
                                             alt="Profile Photo" />
                                    </div>
                                </div>
                                <div class="col-10 col-xl-11 col-lg-11 col-md-11 col-sm-10 written-comment-content-side">
                                    <h5 class="written-comment-content-heading">Emmy Gosling</h5>
                                    <p class="written-comment-content-content">
                                        Sed porttitor lectus nibh. Nulla quis lorem ut libero
                                        malesuada feugiat. Vivamus suscipit tortor eget felis
                                        porttitor volutpat. Nulla porttitor accumsan tincidunt.
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </p>
                                    <div class="written-comment-bottom-box">
                                        <a href="#" class="reply-btn">Reply</a>
                                        <p class="comment-date">January 29, 2019</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="written-comment">
                        <div class="row written-comment-row">
                            <div class="col-2 col-xl-1 col-lg-1 col-md-1 col-sm-2 written-comment-profile-side">
                                <div class="img-div">
                                    <img src="~/assets/images/movie-details/people-3.jpg" alt="Profile Photo" />
                                </div>
                            </div>
                            <div class="col-10 col-xl-11 col-lg-11 col-md-11 col-sm-10 written-comment-content-side">
                                <h5 class="written-comment-content-heading">Emmy Gosling</h5>
                                <p class="written-comment-content-content">
                                    Sed porttitor lectus nibh. Nulla quis lorem ut libero
                                    malesuada feugiat. Vivamus suscipit tortor eget felis
                                    porttitor volutpat. Nulla porttitor accumsan tincidunt.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                                <div class="written-comment-bottom-box">
                                    <a href="#" class="reply-btn">Reply</a>
                                    <p class="comment-date">January 29, 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- movie description comment end -->
@section js{
<script src="~/assets/js/blog-details.js"></script>
}


