@{
    ViewData["Title"] = "Blog";
}

<!-- blog starter start -->
<section id="blog-starter">
    <div class="container blog-starter-container">
        <div class="row blog-starter-row">
            <h1 class="blog-starter-heading">Blog Side</h1>
        </div>
    </div>
</section>
<!-- blog starter end -->
<!-- blogs start -->
<section id="blogs">
    <div class="container blogs-container">
        <div class="row blogs-row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 blogs-col">
                <div class="card blogs-card">
                    <img src="~/assets/images/blog/blog-1.jpg"
                         class="card-img-top"
                         alt="Blogs Image" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make
                            up the bulk of the card's content.
                        </p>
                        <div class="card-like-unlike-side">
                            <div class="like-side">
                                <i class="fa-solid fa-thumbs-up"></i>
                                <span class="like-count">0</span>
                            </div>
                            <div class="unlike-side">
                                <i class="fa-solid fa-thumbs-down"></i>
                                <span class="unlike-count">0</span>
                            </div>
                        </div>
                        <a href="blog-details.html"
                           class="btn btn-primary details-btn">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 blogs-col">
                <div class="card blogs-card">
                    <img src="~/assets/images/blog/blog-2.jpg"
                         class="card-img-top"
                         alt="Blogs Image" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make
                            up the bulk of the card's content.
                        </p>
                        <div class="card-like-unlike-side">
                            <div class="like-side">
                                <i class="fa-solid fa-thumbs-up"></i>
                                <span class="like-count">0</span>
                            </div>
                            <div class="unlike-side">
                                <i class="fa-solid fa-thumbs-down"></i>
                                <span class="unlike-count">0</span>
                            </div>
                        </div>
                        <a href="blog-details.html"
                           class="btn btn-primary details-btn">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 blogs-col">
                <div class="card blogs-card">
                    <img src="~/assets/images/blog/blog-3.jpg"
                         class="card-img-top"
                         alt="Blogs Image" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make
                            up the bulk of the card's content.
                        </p>
                        <div class="card-like-unlike-side">
                            <div class="like-side">
                                <i class="fa-solid fa-thumbs-up"></i>
                                <span class="like-count">0</span>
                            </div>
                            <div class="unlike-side">
                                <i class="fa-solid fa-thumbs-down"></i>
                                <span class="unlike-count">0</span>
                            </div>
                        </div>
                        <a href="blog-details.html"
                           class="btn btn-primary details-btn">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 blogs-col">
                <div class="card blogs-card">
                    <img src="~/assets/images/blog/blog-4.jpeg"
                         class="card-img-top"
                         alt="Blogs Image" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make
                            up the bulk of the card's content.
                        </p>
                        <div class="card-like-unlike-side">
                            <div class="like-side">
                                <i class="fa-solid fa-thumbs-up"></i>
                                <span class="like-count">0</span>
                            </div>
                            <div class="unlike-side">
                                <i class="fa-solid fa-thumbs-down"></i>
                                <span class="unlike-count">0</span>
                            </div>
                        </div>
                        <a href="blog-details.html"
                           class="btn btn-primary details-btn">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 blogs-col">
                <div class="card blogs-card">
                    <img src="~/assets/images/blog/blog-5.jpg"
                         class="card-img-top"
                         alt="Blogs Image" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make
                            up the bulk of the card's content.
                        </p>
                        <div class="card-like-unlike-side">
                            <div class="like-side">
                                <i class="fa-solid fa-thumbs-up"></i>
                                <span class="like-count">0</span>
                            </div>
                            <div class="unlike-side">
                                <i class="fa-solid fa-thumbs-down"></i>
                                <span class="unlike-count">0</span>
                            </div>
                        </div>
                        <a href="blog-details.html"
                           class="btn btn-primary details-btn">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 blogs-col">
                <div class="card blogs-card">
                    <img src="~/assets/images/blog/blog-6.png"
                         class="card-img-top"
                         alt="Blogs Image" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make
                            up the bulk of the card's content.
                        </p>
                        <div class="card-like-unlike-side">
                            <div class="like-side">
                                <i class="fa-solid fa-thumbs-up"></i>
                                <span class="like-count">0</span>
                            </div>
                            <div class="unlike-side">
                                <i class="fa-solid fa-thumbs-down"></i>
                                <span class="unlike-count">0</span>
                            </div>
                        </div>
                        <a href="blog-details.html"
                           class="btn btn-primary details-btn">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blogs end -->
@section js{
<script src="~/assets/js/blog.js"></script>
}
