@model ConfirmEmailFormModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirm Email | YouVideo</title>
    <link rel="stylesheet" href="~/libs/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/libs/toastr.js/toastr.min.css" />
    <link rel="shortcut icon"
          href="~/assets/icons/favicon.ico"
          type="image/x-icon" />
</head>
<body>
    <div class="root">
        <div class="container">
            <div class="row vh-100 align-items-center justify-content-center">
                <div class="col-md-6">
                    <h2 class="text-center">Email təsdiqləmə pəncərəsi</h2>
                    <h5 class="text-center"><span class="text-danger">Qeyd: </span>Daxil etdiyiniz email üzrə sizin mailə keçid linki göndəriləcək.</h5>
                    <h5 style="color: red; text-align: center;">@TempData["ConfirmEmailError"]</h5>
                    <form method="post" asp-action="ConfirmEmail">
                        <div class="form-group">
                            <label asp-for="Email">Email: </label>
                            <input type="email" id="email" asp-for="Email" class="form-control" />
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <button type="submit" class="btn btn-success mt-2">Göndər</button>
                        <a asp-action="Index" asp-controller="PersonalSide" class="btn btn-danger mt-2">Geriyə</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/libs/jquery/jquery.min.js"></script>
    <script src="~/libs/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/libs/toastr.js/toastr.min.js"></script>
    <script src="~/libs/toastr.js/toastr.customize.min.js"></script>
    <script>
        $(function(){
            $('form').submit((e) => {
                e.preventDefault();

                let formData = $(e.currentTarget).serialize();

                if($(e.currentTarget).valid() == false){
                    return;
                }

                $.ajax({
                    url: '@Url.Action("ConfirmEmail")',
                    type: "POST",
                    data: formData,
                    success: function(response){
                        if(!response.error){
                            toastr.success(response.message, "Uğurlu!");
                            e.currentTarget.reset();
                            return;
                        }

                        toastr.error(response.message, "Xəta!");
                    },
                    error: function(response){
                        console.log(response);
                    }
                });
            }).validate();
        });
    </script>
</body>
</html>