@model IEnumerable<AppUser>

@{
    ViewData["Title"] = "Get Users | YouVideo";
}

<h1 class="text-center">İstifadəçilər</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id: </th>
            <th>İstifadəçi adı: </th>
            <th>Email: </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <a asp-action="Policies" asp-route-id="@user.Id" class="btn btn-warning">
                        İmtiyazlar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


