@inject SignInManager<AppUser> signInManager

<div class="deznav">
    <div class="deznav-scroll">
        @await Component.InvokeAsync("LayoutUser")
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Main Menu</li>
            <li><a asp-action="Index" asp-controller="PersonalSide"><i class="fa-solid fa-user"></i> Şəxsi Kabinet</a></li>
            @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                <li><a asp-action="GetUsers" asp-controller="Account"><i class="fa-solid fa-users-gear"></i> Səlahiyyətləndirmə</a></li>

                <li>
                    <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                        <i class="flaticon-144-layout"></i>
                        <span class="nav-text">Əsas Hissələr</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a asp-action="Index" asp-controller="Blogs">Bloq</a></li>
                        <li><a asp-action="Index" asp-controller="Directors">Rejissorlar</a></li>
                        <li><a asp-action="Index" asp-controller="Casts">Aktyorlar</a></li>
                        <li><a asp-action="Index" asp-controller="Shows">Tamaşalar</a></li>
                        <li><a asp-action="Index" asp-controller="ContactMessageTypes">İsmarıc Tipləri</a></li>
                        <li><a asp-action="Index" asp-controller="ContactMessages">İsmarıclar</a></li>
                    </ul>
                </li>

                <li>
                    <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                        <i class="flaticon-144-layout"></i>
                        <span class="nav-text">Komponentlər</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a asp-action="Index" asp-controller="Faqs">FAQ</a></li>
                        <li><a asp-action="Index" asp-controller="Genres">Janrlar</a></li>
                        <li><a asp-action="Index" asp-controller="AppInfos">Statik Məlumatlar</a></li>
                        <li><a asp-action="Index" asp-controller="Subscriptions">Abunələr</a></li>
                        <li><a asp-action="Index" asp-controller="ContactMessageTypes">İsmarıc Tipləri</a></li>
                        <li><a asp-action="Index" asp-controller="ContactMessages">İsmarıclar</a></li>
                    </ul>
                </li>
            }
        </ul>
        <div class="copyright">
            <p><strong>Movie Rental System Admin Dashboard</strong> © 2022 All Rights Reserved</p>
        </div>
    </div>
</div>