@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Coming Soon | YouVideo</title>
    <link rel="stylesheet" href="~/assets/sources/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/sources/css/all.min.css" />
    <link rel="stylesheet"
          href="~/assets/fonts/iconic/css/material-design-iconic-font.min.css" />
    <link rel="stylesheet" href="~/assets/sources/css/animate.css" />
    <link rel="stylesheet" href="~/assets/sources/css/select2.min.css" />
    <link rel="stylesheet" href="~/assets/sources/css/util.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.min.css" />
    <link rel="shortcut icon"
          href="~/assets/icons/favicon.ico"
          type="image/x-icon" />
</head>
<body>
    <!-- coming start -->
    <section id="coming">
        <div class="bg-g1 size1 flex-w flex-col-c-sb p-l-15 p-r-15 p-t-55 p-b-35 respon1">
            <span></span>
            <div class="flex-col-c p-t-50 p-b-50">
                <h3 class="l1-txt1 txt-center p-b-10">Coming Soon</h3>
                <p class="txt-center l1-txt2 p-b-60">New things will come!</p>
                <div class="flex-w flex-c times-box cd100 p-b-82">
                    <div class="flex-col-c-m size2 how-countdown">
                        <span class="l1-txt3 p-b-9 days">35</span>
                        <span class="s1-txt1">Days</span>
                    </div>
                    <div class="flex-col-c-m size2 how-countdown">
                        <span class="l1-txt3 p-b-9 hours">17</span>
                        <span class="s1-txt1">Hours</span>
                    </div>
                    <div class="flex-col-c-m size2 how-countdown">
                        <span class="l1-txt3 p-b-9 minutes">50</span>
                        <span class="s1-txt1">Minutes</span>
                    </div>
                    <div class="flex-col-c-m size2 how-countdown">
                        <span class="l1-txt3 p-b-9 seconds">39</span>
                        <span class="s1-txt1">Seconds</span>
                    </div>
                </div>
                <a asp-action="Index" asp-controller="Home" class="flex-c-m s1-txt2 size3 how-btn">
                    Return To Main Page!
                </a>
            </div>
            <span class="s1-txt3 txt-center"> @@ 2022 Coming Soon | YouVideo. </span>
        </div>
    </section>
    <!-- coming end -->

    <script src="~/assets/sources/js/jquery.min.js"></script>
    <script src="~/assets/sources/js/bootstrap.min.js"></script>
    <script src="~/assets/sources/js/select2.min.js"></script>
    <script src="~/assets/sources/js/moment.min.js"></script>
    <script src="~/assets/sources/js/moment-timezone.min.js"></script>
    <script src="~/assets/sources/js/moment-timezone-with-data.min.js"></script>
    <script src="~/assets/sources/js/countdowntime.js"></script>
    <script src="~/assets/sources/js/tilt.jquery.min.js"></script>
    <script src="~/assets/js/comingsoon.js"></script>
</body>
</html>
