@model ContactMessage
@inject MovieDbContext db

@{
    ViewData["Title"] = "Contact Us";
    var appInfo = db.AppInfos.Where(a => a.DeletedDate == null).FirstOrDefault();
}

@section css{
<link rel="stylesheet" href="~/libs/AlertifyJS/css/alertify.min.css" />
}

<!-- faq cards animation start -->
<section id="contactus-cards-animation">
    <div class="container contactus-cards-animation-container">
        <div class="row contactus-cards-animation-row">
            <h2>Contact Us</h2>
            <p>Have any query contact us</p>
        </div>
    </div>
</section>
<!-- faq cards animation end -->
<!-- contact side start -->
<section id="contact-side">
    <div class="container contact-side-container">
        <div class="row contact-side-row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 contact-side-left-part">
                @Html.Raw(appInfo.Map)
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 contact-side-right-part">
                <h2 class="contact-side-heading">Get in Touch</h2>
                <p class="contact-side-description">
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                </p>
                <form id="contact-side-form" class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 firstname-input-col">
                        <label asp-for="Name" class="label-required">Firstname</label>
                        <input type="text"
                               class="form-control"
                               id="firstname-input"
                               asp-for="Name"
                               autocomplete="off"
                               placeholder="Please enter your firstname" />
                        <p class="error-text">Firstname is required.</p>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 lastname-input-col">
                        <label asp-for="Lastname" class="label-required">Lastname</label>
                        <input type="text"
                               class="form-control"
                               id="lastname-input"
                               asp-for="Lastname"
                               autocomplete="off"
                               placeholder="Please enter your lastname" />
                        <p class="error-text">Lastname is required.</p>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 email-input-col">
                        <label asp-for="EmailAddress" class="label-required">Email</label>
                        <input type="email"
                               class="form-control"
                               id="email-input"
                               asp-for="EmailAddress"
                               autocomplete="off"
                               placeholder="Please enter your email" />
                        <p class="error-text">Valid email is required.</p>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 need-select-col">
                        <label asp-for="ContactMessageTypeId" class="label-required">Please specify your need</label>
                        <select class="form-control" id="need-select" asp-for="ContactMessageTypeId" asp-items="ViewBag.Types">
                            <option value="" selected></option>
                        </select>
                        <p class="error-text">Please specify your need.</p>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 message-textarea-col">
                        <label asp-for="Content" class="label-required">Message</label>
                        <textarea id="message-textarea"
                                  class="form-control"
                                  cols="30"
                                  rows="3"
                                  asp-for="Content"
                                  autocomplete="off"
                                  placeholder="Message for me"></textarea>
                        <p class="error-text">Please, leave us a message.</p>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-sm-12 button-col">
                        <button type="submit" disabled class="disabled">
                            Send message
                        </button>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-sm-12 warn-col">
                        <p><strong>*</strong> These fields are required.</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- contact side end -->
@section js{
<script src="~/assets/js/contactus.js"></script>
<script src="~/libs/jquery-validate/jquery.validate.min.js"></script>
<script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/libs/AlertifyJS/alertify.min.js"></script>
<script>
    $(document).ready(function(){
         $('#contact-side-form').on('submit', (e) => {
              e.preventDefault();

              if(!$(e.currentTarget).valid()){
                  return;
              }

              let formData = new FormData(e.currentTarget);

              $.ajax({
                url: '@Url.Action("ContactUs")',
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function(response){
                    if(!response.error){
                        alertify.success(response.message, "Uğurlu!");
                        e.currentTarget.reset();
                        return;
                    }

                    alertify.error(response.message, "Xəta!");
                },
                error: function(response){
                    console.log(response.message);
                }
              });
            }).validate();
    });
</script>
}