@model IEnumerable<Faq>

@{
    ViewData["Title"] = "FAQ";
}

<!-- faq cards animation start -->
<section id="faq-cards-animation">
    <div class="container faq-cards-animation-container">
        <div class="row faq-cards-animation-row">
            <h2 class="text-center">FAQ Side</h2>
        </div>
    </div>
</section>
<!-- faq cards animation end -->
<!-- faq start -->
<section id="faq">
    <div class="container faq-container">
        <div class="row faq-row">
            <div class="col-12">
                <h2 class="faq-heading text-center">
                    Tez-tez soruşulan suallar.
                </h2>
                <div class="accordion accordion-border accordion-boxed accordion-plus">
                    @foreach (var item in Model)
                    {
                        <div class="card faq-card">
                            <div class="card-header">
                                <a class="acc-heading" style="cursor: pointer;display: flex;align-items: center;justify-content: space-between;">
                                    @item.Question <i class="bi bi-plus-lg"></i>
                                </a>
                            </div>
                            <div class="faq-accordion-body" style="display: none">
                                <div class="card-body">
                                    <p>
                                        @item.Answer
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- faq end -->
@section js{
<script src="~/assets/js/faq.js"></script>
}

