@{
    ViewData["Title"] = "Home";
}

<!-- films swiper start -->
<section id="films-swiper">
    <div class="swiper films-swiper-carousel">
        <div class="swiper-wrapper">
            <div class="swiper-slide films-swiper-item"
                 bg-thumb="assets/images/home/banner-2.jpg">
                <div class="container films-swiper-container">
                    <div class="row films-swiper-row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 films-swiper-col">
                            <span class="badge films-swiper-badge text-dark">Premium</span>
                            <h2>Deadpool: No Good Deed</h2>
                            <div class="casts">
                                <h6 class="casts-heading">Cast:</h6>
                                <p class="casts-actor-actress">
                                    Ryan Reynolds (Deadpool)
                                </p>
                                <p class="casts-actor-actress">
                                    Morena Baccarin (Vanessa)
                                </p>
                            </div>
                            <ul class="film-types">
                                <li class="film-type">
                                    <i class="bi bi-badge-hd-fill"></i>
                                </li>
                                <li class="film-type"><strong>Rated:</strong>8.5</li>
                                <li class="film-type">
                                    <strong>Genre:</strong>Horror, Comedy, Action, Sci-fi.
                                </li>
                            </ul>
                            <div class="film-description">
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a
                                type specimen book.
                            </div>
                            <div class="films-swiper-buttons-box">
                                <a href="#" class="watch-btn">Watch</a>
                                <a href="#" class="watchlist-btn">+ Add To Watchlist</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide films-swiper-item"
                 bg-thumb="assets/images/home/banner-1.jpg">
                <div class="container films-swiper-container">
                    <div class="row films-swiper-row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 films-swiper-col">
                            <span class="badge films-swiper-badge text-dark">Premium</span>
                            <h2>Superman: Man of Steel</h2>
                            <div class="casts">
                                <h6 class="casts-heading">Cast:</h6>
                                <p class="casts-actor-actress">
                                    Henry Cavill (Justice League)
                                </p>
                                <p class="casts-actor-actress">
                                    Tom Welling (Smallville)
                                </p>
                            </div>
                            <ul class="film-types">
                                <li class="film-type">
                                    <i class="bi bi-badge-hd-fill"></i>
                                </li>
                                <li class="film-type"><strong>Rated:</strong>8.5</li>
                                <li class="film-type">
                                    <strong>Genre:</strong>Horror, Comedy, Action, Sci-fi.
                                </li>
                            </ul>
                            <div class="film-description">
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a
                                type specimen book.
                            </div>
                            <div class="films-swiper-buttons-box">
                                <a href="#" class="watch-btn">Watch</a>
                                <a href="#" class="watchlist-btn">+ Add To Watchlist</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide films-swiper-item"
                 bg-thumb="assets/images/home/banner-3.png">
                <div class="container films-swiper-container">
                    <div class="row films-swiper-row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 films-swiper-col">
                            <span class="badge films-swiper-badge text-dark">Premium</span>
                            <h2>Avengers: Endgame</h2>
                            <div class="casts">
                                <h6 class="casts-heading">Cast:</h6>
                                <p class="casts-actor-actress">
                                    Robert Downey Jr. (Iron Man)
                                </p>
                                <p class="casts-actor-actress">
                                    Chris Evans (Captain America)
                                </p>
                            </div>
                            <ul class="film-types">
                                <li class="film-type">
                                    <i class="bi bi-badge-hd-fill"></i>
                                </li>
                                <li class="film-type"><strong>Rated:</strong>8.5</li>
                                <li class="film-type">
                                    <strong>Genre:</strong>Horror, Comedy, Action, Sci-fi.
                                </li>
                            </ul>
                            <div class="film-description">
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a
                                type specimen book.
                            </div>
                            <div class="films-swiper-buttons-box">
                                <a href="#" class="watch-btn">Watch</a>
                                <a href="#" class="watchlist-btn">+ Add To Watchlist</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<!-- films swiper end -->
<!-- top categories start -->
<section id="top-categories">
    <div class="container top-categories-container">
        <div class="row top-categories-row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 top-categories-left-side">
                <h6 class="top-categories-lil-heading">Choose Categories</h6>
                <h2 class="top-categories-big-heading">
                    Top Categories Movies to Watch Now
                </h2>
                <p class="top-categories-description">
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book
                </p>
                <a class="top-categories-btn" href="#"> View All </a>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 top-categories-right-side">
                <div class="row top-categories-cards-row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 top-categories-cards-col">
                        <div class="img-div">
                            <a href="#">
                                <img src="~/assets/images/home/horror.jpg"
                                     alt="Horror Img" />
                            </a>
                            <span>Horror</span>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 top-categories-cards-col">
                        <div class="img-div">
                            <a href="#">
                                <img src="~/assets/images/home/comedy.jpg"
                                     alt="Comedy Img" />
                            </a>
                            <span>Comedy</span>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 top-categories-cards-col">
                        <div class="img-div">
                            <a href="#">
                                <img src="~/assets/images/home/sci.jpg" alt="Sci Img" />
                            </a>
                            <span>Sci</span>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 top-categories-cards-col">
                        <div class="img-div">
                            <a href="#">
                                <img src="~/assets/images/home/action.jpg"
                                     alt="Actions Img" />
                            </a>
                            <span>Actions</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- top categories end -->
<!-- latest movies start -->
<section id="latest-movies">
    <div class="container latest-movies-container">
        <div class="row latest-movies-row">
            <div class="col-6 col-xl-6 col-lg-6 col-sm-6 latest-movies-left-heading-side">
                <h2>Latest Movies</h2>
            </div>
            <div class="col-6 col-xl-6 col-lg-6 col-sm-6 latest-movies-right-view-all-side">
                <a href="#">View All</a>
            </div>
            <div class="col-xl-12 col-lg-12 col-sm-12 latest-movies-carousel-side">
                <div class="owl-carousel owl-theme latest-movies-carousel">
                    <div class="item">
                        <div class="card">
                            <div class="img-div">
                                <img src="~/assets/images/home/banner-1.jpg"
                                     class="card-img-top"
                                     alt="Latest Movies Img" />
                                <div class="latest-movies-img-box">
                                    <div class="img-box-top">
                                        <span class="badge latest-movies-badge text-dark">Premium</span>
                                        <p>8.4/10</p>
                                    </div>
                                    <div class="img-box-bottom">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-heart"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-play"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-tag"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-body-about-side">
                                    <a href="#">Man Of Steel</a>
                                    <p>196 Min</p>
                                </div>
                                <ul class="latest-movies-tags-ul">
                                    <li><a href="#">Actions,</a></li>
                                    <li><a href="#">Thriller,</a></li>
                                    <li><a href="#">Comedy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="img-div">
                                <img src="~/assets/images/home/banner-2.jpg"
                                     class="card-img-top"
                                     alt="Latest Movies Img" />
                                <div class="latest-movies-img-box">
                                    <div class="img-box-top">
                                        <span class="badge latest-movies-badge text-dark">Premium</span>
                                        <p>7.4/10</p>
                                    </div>
                                    <div class="img-box-bottom">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-heart"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-play"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-tag"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-body-about-side">
                                    <a href="#">Deadpool</a>
                                    <p>196 Min</p>
                                </div>
                                <ul class="latest-movies-tags-ul">
                                    <li><a href="#">Actions,</a></li>
                                    <li><a href="#">Thriller,</a></li>
                                    <li><a href="#">Comedy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="img-div">
                                <img src="~/assets/images/home/banner-3.png"
                                     class="card-img-top"
                                     alt="Latest Movies Img" />
                                <div class="latest-movies-img-box">
                                    <div class="img-box-top">
                                        <span class="badge latest-movies-badge text-dark">Premium</span>
                                        <p>9.4/10</p>
                                    </div>
                                    <div class="img-box-bottom">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-heart"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-play"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-tag"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-body-about-side">
                                    <a href="#">Avengers</a>
                                    <p>196 Min</p>
                                </div>
                                <ul class="latest-movies-tags-ul">
                                    <li><a href="#">Actions,</a></li>
                                    <li><a href="#">Thriller,</a></li>
                                    <li><a href="#">Comedy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="img-div">
                                <img src="~/assets/images/home/banner-4.jpg"
                                     class="card-img-top"
                                     alt="Latest Movies Img" />
                                <div class="latest-movies-img-box">
                                    <div class="img-box-top">
                                        <span class="badge latest-movies-badge text-dark">Premium</span>
                                    </div>
                                    <div class="img-box-bottom">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-heart"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-play"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-tag"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-body-about-side">
                                    <a href="#">Batman</a>
                                    <p>196 Min</p>
                                </div>
                                <ul class="latest-movies-tags-ul">
                                    <li><a href="#">Actions,</a></li>
                                    <li><a href="#">Thriller,</a></li>
                                    <li><a href="#">Comedy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="img-div">
                                <img src="~/assets/images/home/banner-5.jpg"
                                     class="card-img-top"
                                     alt="Latest Movies Img" />
                                <div class="latest-movies-img-box">
                                    <div class="img-box-top">
                                        <span class="badge latest-movies-badge text-dark">Premium</span>
                                    </div>
                                    <div class="img-box-bottom">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-heart"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-play"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-tag"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-body-about-side">
                                    <a href="#">Extraction</a>
                                    <p>196 Min</p>
                                </div>
                                <ul class="latest-movies-tags-ul">
                                    <li><a href="#">Actions,</a></li>
                                    <li><a href="#">Thriller,</a></li>
                                    <li><a href="#">Comedy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="img-div">
                                <img src="~/assets/images/home/transform.jpg"
                                     class="card-img-top"
                                     alt="Latest Movies Img" />
                                <div class="latest-movies-img-box">
                                    <div class="img-box-top">
                                        <span class="badge latest-movies-badge text-dark">Premium</span>
                                        <p>9.4/10</p>
                                    </div>
                                    <div class="img-box-bottom">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-heart"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-play"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-tag"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-body-about-side">
                                    <a href="#">Transformer</a>
                                    <p>196 Min</p>
                                </div>
                                <ul class="latest-movies-tags-ul">
                                    <li><a href="#">Actions,</a></li>
                                    <li><a href="#">Thriller,</a></li>
                                    <li><a href="#">Comedy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="img-div">
                                <img src="~/assets/images/home/turtle.jpg"
                                     class="card-img-top"
                                     alt="Latest Movies Img" />
                                <div class="latest-movies-img-box">
                                    <div class="img-box-top">
                                        <span class="badge latest-movies-badge text-dark">Premium</span>
                                        <p>9.4/10</p>
                                    </div>
                                    <div class="img-box-bottom">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-heart"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-play"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-tag"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-body-about-side">
                                    <a href="#">Ninja Turtle</a>
                                    <p>196 Min</p>
                                </div>
                                <ul class="latest-movies-tags-ul">
                                    <li><a href="#">Actions,</a></li>
                                    <li><a href="#">Thriller,</a></li>
                                    <li><a href="#">Comedy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="img-div">
                                <img src="~/assets/images/home/ranger.jpg"
                                     class="card-img-top"
                                     alt="Latest Movies Img" />
                                <div class="latest-movies-img-box">
                                    <div class="img-box-top">
                                        <span class="badge latest-movies-badge text-dark">Premium</span>
                                        <p>9.4/10</p>
                                    </div>
                                    <div class="img-box-bottom">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-heart"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-play"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-tag"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-body-about-side">
                                    <a href="#">Power Ranger</a>
                                    <p>196 Min</p>
                                </div>
                                <ul class="latest-movies-tags-ul">
                                    <li><a href="#">Actions,</a></li>
                                    <li><a href="#">Thriller,</a></li>
                                    <li><a href="#">Comedy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="img-div">
                                <img src="~/assets/images/home/prey.jpg"
                                     class="card-img-top"
                                     alt="Latest Movies Img" />
                                <div class="latest-movies-img-box">
                                    <div class="img-box-top">
                                        <span class="badge latest-movies-badge text-dark">Premium</span>
                                        <p>9.4/10</p>
                                    </div>
                                    <div class="img-box-bottom">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-heart"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-play"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-tag"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-body-about-side">
                                    <a href="#">Birds Of Prey</a>
                                    <p>196 Min</p>
                                </div>
                                <ul class="latest-movies-tags-ul">
                                    <li><a href="#">Actions,</a></li>
                                    <li><a href="#">Thriller,</a></li>
                                    <li><a href="#">Comedy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="img-div">
                                <img src="~/assets/images/home/pirates.jpg"
                                     class="card-img-top"
                                     alt="Latest Movies Img" />
                                <div class="latest-movies-img-box">
                                    <div class="img-box-top">
                                        <span class="badge latest-movies-badge text-dark">Premium</span>
                                        <p>9.4/10</p>
                                    </div>
                                    <div class="img-box-bottom">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-heart"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-play"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-tag"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-body-about-side">
                                    <a href="#">Pirates</a>
                                    <p>196 Min</p>
                                </div>
                                <ul class="latest-movies-tags-ul">
                                    <li><a href="#">Actions,</a></li>
                                    <li><a href="#">Thriller,</a></li>
                                    <li><a href="#">Comedy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="img-div">
                                <img src="~/assets/images/home/godzilla.jpg"
                                     class="card-img-top"
                                     alt="Latest Movies Img" />
                                <div class="latest-movies-img-box">
                                    <div class="img-box-top">
                                        <span class="badge latest-movies-badge text-dark">Premium</span>
                                        <p>9.4/10</p>
                                    </div>
                                    <div class="img-box-bottom">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-heart"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-play"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-tag"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-body-about-side">
                                    <a href="#">GodZilla</a>
                                    <p>196 Min</p>
                                </div>
                                <ul class="latest-movies-tags-ul">
                                    <li><a href="#">Actions,</a></li>
                                    <li><a href="#">Thriller,</a></li>
                                    <li><a href="#">Comedy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="img-div">
                                <img src="~/assets/images/home/baby-driver.jpg"
                                     class="card-img-top"
                                     alt="Latest Movies Img" />
                                <div class="latest-movies-img-box">
                                    <div class="img-box-top">
                                        <span class="badge latest-movies-badge text-dark">Premium</span>
                                        <p>9.4/10</p>
                                    </div>
                                    <div class="img-box-bottom">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-heart"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-play"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-tag"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-body-about-side">
                                    <a href="#">Baby Driver</a>
                                    <p>196 Min</p>
                                </div>
                                <ul class="latest-movies-tags-ul">
                                    <li><a href="#">Actions,</a></li>
                                    <li><a href="#">Thriller,</a></li>
                                    <li><a href="#">Comedy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- latest movies end -->
<!-- latest tv show start -->
<section id="latest-tv-show-start">
    <div class="container latest-tv-show-start-container">
        <div class="row latest-tv-show-start-row">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 latest-tv-show-top-left-side">
                <h6>Most watched Tv Show</h6>
                <h2>Latest Tv Show</h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                </p>
                <a href="#" class="latest-tv-show-btn">View All</a>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 latest-tv-show-top-right-side">
                <div class="row latest-tv-show-top-right-side-row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-tv-show-top-right-side-col">
                        <div class="card">
                            <div class="img-div">
                                <img src="~/assets/images/home/friends.jpg"
                                     class="card-img-top"
                                     alt="Latest Movies Img" />
                                <div class="latest-tv-show-img-box">
                                    <div class="img-box-top">
                                        <span class="badge latest-tv-show-badge text-dark">Premium</span>
                                        <p>8.4/10</p>
                                    </div>
                                    <div class="img-box-bottom">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-heart"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-play"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-tag"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-body-about-side">
                                    <a class="card-bottom-left" href="#">Man Of Steel</a>
                                    <a class="card-bottom-right" href="#">Comedy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-tv-show-top-right-side-col">
                        <div class="card">
                            <div class="img-div">
                                <img src="~/assets/images/home/stranger-things.jpg"
                                     class="card-img-top"
                                     alt="Latest Movies Img" />
                                <div class="latest-tv-show-img-box">
                                    <div class="img-box-top">
                                        <span class="badge latest-tv-show-badge text-dark">Premium</span>
                                        <p>8.4/10</p>
                                    </div>
                                    <div class="img-box-bottom">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-heart"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-play"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-tag"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-body-about-side">
                                    <a class="card-bottom-left" href="#">Stranger-Things</a>
                                    <a class="card-bottom-right" href="#">Horror</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-tv-show-top-right-side-col">
                        <div class="card">
                            <div class="img-div">
                                <img src="~/assets/images/home/breaking-bad.jpg"
                                     class="card-img-top"
                                     alt="Latest Movies Img" />
                                <div class="latest-tv-show-img-box">
                                    <div class="img-box-top">
                                        <span class="badge latest-tv-show-badge text-dark">Premium</span>
                                        <p>8.4/10</p>
                                    </div>
                                    <div class="img-box-bottom">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-heart"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-play"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-tag"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-body-about-side">
                                    <a class="card-bottom-left" href="#">Breaking Bad</a>
                                    <a class="card-bottom-right" href="#">Science</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-tv-show-top-right-side-col">
                        <div class="card">
                            <div class="img-div">
                                <img src="~/assets/images/home/game-of-throne.jpg"
                                     class="card-img-top"
                                     alt="Latest Movies Img" />
                                <div class="latest-tv-show-img-box">
                                    <div class="img-box-top">
                                        <span class="badge latest-tv-show-badge text-dark">Premium</span>
                                        <p>8.4/10</p>
                                    </div>
                                    <div class="img-box-bottom">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-heart"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-play"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-tag"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-body-about-side">
                                    <a class="card-bottom-left" href="#">Game of Thrones</a>
                                    <a class="card-bottom-right" href="#">Actions</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-tv-show-bottom-col">
                <div class="card">
                    <div class="img-div">
                        <img src="~/assets/images/home/grimm.jpg"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                        <div class="latest-tv-show-img-box">
                            <div class="img-box-top">
                                <span class="badge latest-tv-show-badge text-dark">Premium</span>
                                <p>8.4/10</p>
                            </div>
                            <div class="img-box-bottom">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-play"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-tag"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body-about-side">
                            <a class="card-bottom-left" href="#">Grimm</a>
                            <a class="card-bottom-right" href="#">Horror</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-tv-show-bottom-col">
                <div class="card">
                    <div class="img-div">
                        <img src="~/assets/images/home/umbrella.jpg"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                        <div class="latest-tv-show-img-box">
                            <div class="img-box-top">
                                <span class="badge latest-tv-show-badge text-dark">Premium</span>
                                <p>8.4/10</p>
                            </div>
                            <div class="img-box-bottom">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-play"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-tag"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body-about-side">
                            <a class="card-bottom-left" href="#">Umbrella Academy</a>
                            <a class="card-bottom-right" href="#">Sci-Fi</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-tv-show-bottom-col">
                <div class="card">
                    <div class="img-div">
                        <img src="~/assets/images/home/supergirl.jpg"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                        <div class="latest-tv-show-img-box">
                            <div class="img-box-top">
                                <span class="badge latest-tv-show-badge text-dark">Premium</span>
                                <p>8.4/10</p>
                            </div>
                            <div class="img-box-bottom">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-play"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-tag"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body-about-side">
                            <a class="card-bottom-left" href="#">Supergirl</a>
                            <a class="card-bottom-right" href="#">Action</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-tv-show-bottom-col">
                <div class="card">
                    <div class="img-div">
                        <img src="~/assets/images/home/100.jpg"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                        <div class="latest-tv-show-img-box">
                            <div class="img-box-top">
                                <span class="badge latest-tv-show-badge text-dark">Premium</span>
                                <p>8.4/10</p>
                            </div>
                            <div class="img-box-bottom">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-play"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-tag"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body-about-side">
                            <a class="card-bottom-left" href="#">The 100</a>
                            <a class="card-bottom-right" href="#">Horror</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- latest tv show end -->
<!-- trailer start -->
<section id="trailer">
    <div class="container trailer-container">
        <div class="row trailer-row">
            <div class="col-7 col-xl-6 col-lg-6 col-md-6 col-sm-7 trailer-left-side">
                <h2>New Trailer Released</h2>
            </div>
            <div class="col-5 col-xl-6 col-lg-6 col-md-6 col-sm-5 trailer-right-side">
                <a href="#"><span>View</span> All</a>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 trailer-bottom-cards-col">
                <div class="card">
                    <div class="img-div">
                        <div class="play-side">
                            <a href="https://www.youtube.com/watch?v=e3Nl_TCQXuw"
                               class="new-trailer-play-btn">
                                <i class="bi bi-play-circle"></i>
                            </a>
                        </div>
                        <img src="~/assets/images/home/beaty-beast.jpg"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                    </div>
                    <div class="card-body">
                        <a class="card-body-about" href="#">Beauty And Beast</a>
                        <p class="card-body-description">
                            Released Date :10 Jan 2020
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 trailer-bottom-cards-col">
                <div class="card">
                    <div class="img-div">
                        <div class="play-side">
                            <a href="https://www.youtube.com/watch?v=oJYJmYQ0AGw"
                               class="new-trailer-play-btn">
                                <i class="bi bi-play-circle"></i>
                            </a>
                        </div>
                        <img src="~/assets/images/home/jungle.jpg"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                    </div>
                    <div class="card-body">
                        <a class="card-body-about" href="#">Jungle</a>
                        <p class="card-body-description">
                            Released Date :10 Jan 2020
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 trailer-bottom-cards-col">
                <div class="card">
                    <div class="img-div">
                        <div class="play-side">
                            <a href="https://www.youtube.com/watch?v=xCwwxNbtK6Y"
                               class="new-trailer-play-btn">
                                <i class="bi bi-play-circle"></i>
                            </a>
                        </div>
                        <img src="~/assets/images/home/kobra.jpg"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                    </div>
                    <div class="card-body">
                        <a class="card-body-about" href="#">Kobra Kai</a>
                        <p class="card-body-description">
                            Released Date :10 Jan 2020
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 trailer-bottom-cards-col">
                <div class="card">
                    <div class="img-div">
                        <div class="play-side">
                            <a href="https://www.youtube.com/watch?v=8Qn_spdM5Zg"
                               class="new-trailer-play-btn">
                                <i class="bi bi-play-circle"></i>
                            </a>
                        </div>
                        <img src="~/assets/images/home/star-war.jpg"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                    </div>
                    <div class="card-body">
                        <a class="card-body-about" href="#">Star Wars</a>
                        <p class="card-body-description">
                            Released Date :10 Jan 2020
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- trailer end -->
<!-- recent movies start -->
<section id="recent-movies">
    <div class="container recent-movies-container">
        <div class="row recent-movies-row">
            <div class="col-7 col-xl-6 col-lg-6 col-md-7 col-sm-7 recent-movies-left-side">
                <h2>Recent Movies and Tv Shows</h2>
            </div>
            <div class="col-5 col-xl-6 col-lg-6 col-md-5 col-sm-5 recent-movies-right-side">
                <button type="button"
                        class="recent-filter-btns"
                        data-filter=".today">
                    Today
                </button>
                <button type="button"
                        class="recent-filter-btns"
                        data-filter=".this-week">
                    This Week
                </button>
                <button type="button"
                        class="recent-filter-btns"
                        data-filter=".last-thirty-days">
                    Last 30 days
                </button>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mix today recent-movies-cards-col">
                <div class="card">
                    <div class="img-div">
                        <img src="~/assets/images/home/friends.jpg"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                        <div class="latest-tv-show-img-box">
                            <div class="img-box-top">
                                <span class="badge latest-tv-show-badge text-dark">Premium</span>
                                <p>8.4/10</p>
                            </div>
                            <div class="img-box-bottom">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-play"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-tag"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body-about-side">
                            <a class="card-bottom-left" href="#">Man Of Steel</a>
                            <a class="card-bottom-right" href="#">Comedy</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mix today recent-movies-cards-col">
                <div class="card">
                    <div class="img-div">
                        <img src="~/assets/images/home/stranger-things.jpg"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                        <div class="latest-tv-show-img-box">
                            <div class="img-box-top">
                                <span class="badge latest-tv-show-badge text-dark">Premium</span>
                                <p>8.4/10</p>
                            </div>
                            <div class="img-box-bottom">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-play"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-tag"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body-about-side">
                            <a class="card-bottom-left" href="#">Stranger-Things</a>
                            <a class="card-bottom-right" href="#">Horror</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mix today recent-movies-cards-col">
                <div class="card">
                    <div class="img-div">
                        <img src="~/assets/images/home/breaking-bad.jpg"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                        <div class="latest-tv-show-img-box">
                            <div class="img-box-top">
                                <span class="badge latest-tv-show-badge text-dark">Premium</span>
                                <p>8.4/10</p>
                            </div>
                            <div class="img-box-bottom">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-play"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-tag"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body-about-side">
                            <a class="card-bottom-left" href="#">Breaking Bad</a>
                            <a class="card-bottom-right" href="#">Science</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mix this-week recent-movies-cards-col">
                <div class="card">
                    <div class="img-div">
                        <img src="~/assets/images/home/game-of-throne.jpg"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                        <div class="latest-tv-show-img-box">
                            <div class="img-box-top">
                                <span class="badge latest-tv-show-badge text-dark">Premium</span>
                                <p>8.4/10</p>
                            </div>
                            <div class="img-box-bottom">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-play"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-tag"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body-about-side">
                            <a class="card-bottom-left" href="#">Game of Thrones</a>
                            <a class="card-bottom-right" href="#">Actions</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mix this-week recent-movies-cards-col">
                <div class="card">
                    <div class="img-div">
                        <img src="~/assets/images/home/grimm.jpg"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                        <div class="latest-tv-show-img-box">
                            <div class="img-box-top">
                                <span class="badge latest-tv-show-badge text-dark">Premium</span>
                                <p>8.4/10</p>
                            </div>
                            <div class="img-box-bottom">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-play"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-tag"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body-about-side">
                            <a class="card-bottom-left" href="#">Grimm</a>
                            <a class="card-bottom-right" href="#">Horror</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mix this-week recent-movies-cards-col">
                <div class="card">
                    <div class="img-div">
                        <img src="~/assets/images/home/umbrella.jpg"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                        <div class="latest-tv-show-img-box">
                            <div class="img-box-top">
                                <span class="badge latest-tv-show-badge text-dark">Premium</span>
                                <p>8.4/10</p>
                            </div>
                            <div class="img-box-bottom">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-play"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-tag"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body-about-side">
                            <a class="card-bottom-left" href="#">Umbrella Academy</a>
                            <a class="card-bottom-right" href="#">Sci-Fi</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mix last-thirty-days recent-movies-cards-col">
                <div class="card">
                    <div class="img-div">
                        <img src="~/assets/images/home/100.jpg"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                        <div class="latest-tv-show-img-box">
                            <div class="img-box-top">
                                <span class="badge latest-tv-show-badge text-dark">Premium</span>
                                <p>8.4/10</p>
                            </div>
                            <div class="img-box-bottom">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-play"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-tag"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body-about-side">
                            <a class="card-bottom-left" href="#">The 100</a>
                            <a class="card-bottom-right" href="#">Action</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mix last-thirty-days recent-movies-cards-col">
                <div class="card">
                    <div class="img-div">
                        <img src="~/assets/images/home/supergirl.jpg"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                        <div class="latest-tv-show-img-box">
                            <div class="img-box-top">
                                <span class="badge latest-tv-show-badge text-dark">Premium</span>
                                <p>8.4/10</p>
                            </div>
                            <div class="img-box-bottom">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-play"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-tag"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body-about-side">
                            <a class="card-bottom-left" href="#">Supergirl</a>
                            <a class="card-bottom-right" href="#">Actions</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- recent movies end -->
<!-- selected movie start -->
<section id="selected-movie" bg-thumb="assets/images/home/banner-3.png">
    <div class="container selected-movie-container">
        <div class="row selected-movie-row">
            <div class="col-xl-6 col-lg-6 col-sm-12 selected-movie-left-side">
                <h2>Avengers: Endgame</h2>
                <ul class="selected-movie-rating-box">
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="bi bi-star-half"></i></li>
                </ul>
                <ul class="film-types">
                    <li class="film-type"><strong>Rating</strong>9.6 (Imdb)</li>
                    <li class="film-type"><strong>Time</strong>2h 50 min</li>
                </ul>
                <div class="film-description">
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s
                </div>
                <div class="selected-movie-buttons-box">
                    <a href="#" class="watch-btn">Watch</a>
                    <a href="#" class="watchlist-btn">+ Add To Watchlist</a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-sm-12 selected-movie-right-side">
                <div class="img-div">
                    <a href="https://www.youtube.com/watch?v=eOrNdBpGMv8"
                       class="selected-movie-play-btn">
                        <i class="bi bi-play-fill"></i>
                        <p>Play video</p>
                    </a>
                    <img src="~/assets/images/home/banner-7.jpg"
                         alt="Selected Movie Img" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- selected movie end -->
@section js{
<script src="~/assets/js/app.js"></script>
}