@model ForgotPasswordFormModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot Password | YouVideo</title>
    <link rel="stylesheet" href="~/libs/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/libs/toastr.js/toastr.min.css" />
    <link rel="shortcut icon"
          href="~/assets/icons/favicon.ico"
          type="image/x-icon" />
</head>
<body>
    <div class="root">
        <div class="container">
            <div class="row vh-100 align-items-center">
                <div class="offset-2 col-md-8">
                    <form method="post" asp-action="ForgotPassword" asp-controller="Account">
                        <div class="form-group">
                            <label asp-for="Email">Emailinizi daxil edin: </label>
                            <input class="form-control" type="email" asp-for="Email" />
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>

                        <button class="mt-2 btn btn-success">Göndər</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/libs/jquery/jquery.min.js"></script>
    <script src="~/libs/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/libs/toastr.js/toastr.min.js"></script>
    <script src="~/libs/toastr.js/toastr.customize.min.js"></script>
    <script>
        $(document).ready(function(){
            $('form').submit((e) => {
                e.preventDefault();

                let formData = $(e.currentTarget).serialize();

                if($(e.currentTarget).valid() == false){
                    return;
                }

                $.ajax({
                    url: '@Url.Action("ForgotPassword")',
                    type: "POST",
                    data: formData,
                    success: function(response){
                        if(!response.error){
                            toastr.success(response.message, "Uğurlu!");
                            e.currentTarget.reset();
                            return;
                        }

                        toastr.error(response.message, "Xəta!");
                    },
                    error: function(response){
                        console.log(response);
                    }
                });
            }).validate();
        });
    </script>
</body>
</html>
