@model ForgotPasswordFormModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot Password | YouVideo</title>
    <link rel="stylesheet" href="~/libs/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="root">
        <div class="container">
            <div class="row">
                <div class="offset-2 col-md-8">
                    <form method="post" asp-action="ForgotPassword" asp-controller="Account">
                        <div class="form-group">
                            <label asp-for="Email">Emailinizi daxil edin: </label>
                            <input class="form-control" type="email" asp-for="Email" />
                        </div>

                        <button class="mt-2 btn btn-success">Göndər</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
