@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register | YouVideo</title>
    <link rel="stylesheet" href="~/assets/sources/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.min.css" />
    <link rel="shortcut icon"
          href="~/assets/icons/favicon.ico"
          type="image/x-icon" />
</head>
<body>
    <!-- register start -->
    <section id="register">
        <div class="container register-container">
            <div class="row register-row">
                <div class="col-10 col-xl-8 col-lg-8 col-md-10 col-sm-10 register-col">
                    <div class="row register-col-row">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 register-left-side">
                            <div class="img-div">
                                <img src="~/assets/images/auth/login-register.png"
                                     alt="Login Img" />
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 register-right-side">
                            <h3 class="register-side-heading">Register</h3>
                            <p class="register-side-description">
                                Welcome back! Create Your Account.
                            </p>
                            <form id="login-side-form">
                                <div class="form-group username-form-group">
                                    <label for="username-input">Username</label>
                                    <input id="username-input"
                                           type="text"
                                           class="form-control"
                                           placeholder="Enter username" />
                                </div>
                                <div class="form-group email-address-form-group">
                                    <label for="email-address-input">Email address</label>
                                    <input id="email-address-input"
                                           type="text"
                                           class="form-control"
                                           placeholder="Enter email" />
                                </div>
                                <div class="form-group password-form-group">
                                    <label for="password-input">Password</label>
                                    <input id="password-input"
                                           type="password"
                                           class="form-control"
                                           placeholder="Password" />
                                </div>
                                <div class="form-group repeat-password-form-group">
                                    <label for="repeat-password-input">Repeat password</label>
                                    <input id="password-input"
                                           type="password"
                                           class="form-control"
                                           placeholder="Repeat Password" />
                                </div>
                                <div class="register-side-btn-div">
                                    <button class="register-side-btn">Register</button>
                                </div>
                                <a asp-action="SignIn" class="link-to-login">Have an account? Log In</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- register end -->
</body>
</html>
