@model ResetPasswordFormModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset Password | YouVideo</title>
    <link rel="stylesheet" href="~/libs/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/libs/toastr.js/toastr.min.css" />
    <link rel="shortcut icon"
          href="~/assets/icons/favicon.ico"
          type="image/x-icon" />
</head>
<body>
    <div class="root">
        <div class="container">
            <div class="row vh-100 align-items-center">
                <div class="offset-2 col-md-8">
                    <form method="post" asp-action="ResetPassword" asp-controller="Account">
                        <div asp-validation-summary="ModelOnly"></div>
                        <input type="hidden" asp-for="Email" />
                        <input type="hidden" asp-for="Token" />
                        <div class="form-group">
                            <label asp-for="Password">Yeni şifrə: </label>
                            <input class="form-control" asp-for="Password" type="password" />
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="PasswordConfirm">Yeni şifrənin təkrarını daxil edin: </label>
                            <input class="form-control" asp-for="PasswordConfirm" type="password" />
                            <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
                        </div>

                        <button type="submit" class="mt-2 btn btn-warning">Yenilə</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/libs/jquery/jquery.min.js"></script>
    <script src="~/libs/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/libs/toastr.js/toastr.min.js"></script>
    <script src="~/libs/toastr.js/toastr.customize.min.js"></script>
    <script>
        $(document).ready(function(){
            $('form').submit((e) => {
                e.preventDefault();

                let formData = $(e.currentTarget).serialize();

                if($(e.currentTarget).valid() == false){
                    return;
                }

                $.ajax({
                    url: '@Url.Action("ResetPassword")',
                    type: "POST",
                    data: formData,
                    success: function(response){
                        if(!response.error){
                            toastr.success(response.message, "Uğurlu!");
                            e.currentTarget.reset();
                            setTimeout(() => {
                                window.location.href = '@Url.Action("SignIn")';
                            }, 2000);
                            return;
                        }

                        toastr.error(response.message, "Xəta!");
                    },
                    error: function(response){
                        console.log(response);
                    }
                });
            }).validate();
        });
    </script>
</body>
</html>
