@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login | YouVideo</title>
    <link rel="stylesheet" href="~/assets/sources/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.min.css" />
    <link rel="shortcut icon"
          href="~/assets/icons/favicon.ico"
          type="image/x-icon" />
</head>
<body>
    <!-- login start -->
    <section id="login">
        <div class="container login-container">
            <div class="row login-row">
                <div class="col-10 col-xl-8 col-lg-8 col-md-10 col-sm-10 login-col">
                    <div class="row login-col-row">
                        <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 login-left-side">
                            <div class="img-div">
                                <img src="assets/images/auth/login-register.png"
                                     alt="Login Img" />
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 login-right-side">
                            <h3 class="login-side-heading">Login</h3>
                            <p class="login-side-description">
                                Welcome back! Log in to your account.
                            </p>
                            <form id="login-side-form">
                                <div class="form-group email-address-form-group">
                                    <label for="email-address-input">Email address</label>
                                    <input id="email-address-input"
                                           type="text"
                                           class="form-control"
                                           placeholder="Enter email" />
                                </div>
                                <div class="form-group password-form-group">
                                    <label for="password-input">Password</label>
                                    <input id="password-input"
                                           type="password"
                                           class="form-control"
                                           placeholder="Password" />
                                </div>
                                <div class="form-group remeber-me-form-group">
                                    <input type="checkbox" id="remeber-me-checkbox" />
                                    <label for="remeber-me-checkbox">Remember me</label>
                                </div>
                                <div class="login-side-btn-div">
                                    <button class="login-side-btn">Login</button>
                                </div>
                                <a href="register.html" class="link-to-register">Not a user? Sign up</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- login end -->
</body>
</html>
