@model SignInFormModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login | YouVideo</title>
    <link rel="stylesheet" href="~/assets/sources/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.min.css" />
    <style>
        .link-to-forgot-password {
            display: inline-block;
            color: #8f8f8f;
            font-family: "Baloo";
        }

            .link-to-forgot-password:hover {
                color: #e41a1a;
            }
    </style>
    <link rel="shortcut icon"
          href="~/assets/icons/favicon.ico"
          type="image/x-icon" />
</head>
<body>
    <!-- login start -->
    <section id="login">
        <div class="container login-container">
            <div class="row login-row">
                <div class="col-10 col-xl-8 col-lg-8 col-md-10 col-sm-10 login-col">
                    <div class="row login-col-row">
                        <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 login-left-side">
                            <div class="img-div">
                                <img src="~/assets/images/auth/login-register.png"
                                     alt="Login Img" />
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 login-right-side">
                            <h3 class="login-side-heading">Login</h3>
                            <p class="login-side-description">
                                Welcome back! Log in to your account.
                            </p>
                            <form id="login-side-form" method="post">
                                <h5 class="text-center text-danger" style="font-weight: 600;">@TempData["Status"]</h5>
                                <div class="form-group email-address-form-group">
                                    <label asp-for="Username">Email address or username</label>
                                    <input id="email-address-input"
                                           asp-for="Username"
                                           class="form-control"
                                           placeholder="Enter email" />
                                    <span class="text-danger" asp-validation-for="Username"></span>
                                </div>
                                <div class="form-group password-form-group">
                                    <label asp-for="Password">Password</label>
                                    <input id="password-input"
                                           asp-for="Password"
                                           type="password"
                                           class="form-control"
                                           placeholder="Password" />
                                    <span class="text-danger" asp-validation-for="Password"></span>
                                </div>
                                <div class="form-group remeber-me-form-group">
                                    <input type="checkbox" asp-for="RememberMe" id="remeber-me-checkbox" />
                                    <label asp-for="RememberMe">Remember me</label>
                                </div>
                                <div class="login-side-btn-div">
                                    <button type="submit" class="login-side-btn">Login</button>
                                </div>
                                <a asp-action="ForgotPassword" class="link-to-forgot-password">Forgot password?</a>
                                <br />
                                <a asp-action="Register" class="link-to-register">Not a user? Sign up</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- login end -->

    <script src="~/libs/jquery/jquery.min.js"></script>
    <script src="~/libs/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <environment include="Development">
        <script>
            $(function(){
               $('#email-address-input').val('rahimlizakir');
               $('#password-input').val('zakir007');
            });
        </script>
    </environment>
</body>
</html>