@model RoomViewModel

@{
    ViewData["Title"] = "Room Details";
}

@section css{
<style>
    .form-paragraph {
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
</style>
}

<div class="form-group">
    <label asp-for="Id"></label>
    <p class="form-paragraph">@Model.Id</p>
</div>
<div class="form-group">
    <label asp-for="Name">Adı:</label>
    <p class="form-paragraph">@Model.Name</p>
</div>
<div class="form-group">
    <label asp-for="Seats">Oturacaq Sayı:</label>
    <p class="form-paragraph">@Model.Seats?.Count ədəd</p>
</div>
<div class="form-group">
    <label asp-for="CreatedDate">Əlavə olunma tarixi:</label>
    <p class="form-paragraph">@Model.CreatedDate.ToString("dd.MM.yyyy HH:mm:ss")</p>
</div>
<a asp-action="Index" class="btn btn-danger">Geriyə</a>