@model FilmViewModel

@{
    ViewData["Title"] = "Movies";
}

<!-- movies cards animation start -->
<section id="movies-cards-animation">
    <div class="container movies-cards-animation-container">
        <div class="row movies-cards-animation-row">
            <h2 class="movies-cards-main-heading">Movies</h2>
            <h6 class="movies-cards-other-heading">Genre:</h6>
            <ul class="movies-cards-list">
                @foreach (Genre item in Model.Genres)
                {
                    <li class="movies-cards-item">
                        <a class="badge movies-cards-badge" href="#">@item.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>
<!-- movies cards animation end -->
<!-- latest movies start -->
<section id="latest-movies">
    <div class="container latest-movies-container">
        <div class="row latest-movies-row">
            <div class="col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 latest-movies-left-heading-side">
                <h2>Latest Movies</h2>
            </div>
            <div class="col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 latest-movies-right-view-all-side">
                <a href="#">View All</a>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-movies-card-col">
                <div class="card">
                    <div class="img-div">
                        <img src="~/assets/images/movies/banner-1.jpg"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                        <div class="latest-movies-img-box">
                            <div class="img-box-top">
                                <span class="badge latest-movies-badge text-dark">Premium</span>
                                <p>8.4/10</p>
                            </div>
                            <div class="img-box-bottom">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-play"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-tag"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body-about-side">
                            <a href="movie-details.html">Man Of Steel</a>
                            <p>196 Min</p>
                        </div>
                        <div class="latest-movies-genre-price-side">
                            <ul class="latest-movies-tags-ul">
                                <li><a href="#">Actions,</a></li>
                                <li><a href="#">Thriller,</a></li>
                                <li><a href="#">Comedy</a></li>
                            </ul>
                            <h5 class="latest-movies-price">$ 15.00</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-movies-card-col">
                <div class="card">
                    <div class="img-div">
                        <img src="~/assets/images/movies/banner-2.jpg"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                        <div class="latest-movies-img-box">
                            <div class="img-box-top">
                                <span class="badge latest-movies-badge text-dark">Premium</span>
                                <p>7.4/10</p>
                            </div>
                            <div class="img-box-bottom">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-play"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-tag"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body-about-side">
                            <a href="movie-details.html">Deadpool</a>
                            <p>196 Min</p>
                        </div>
                        <div class="latest-movies-genre-price-side">
                            <ul class="latest-movies-tags-ul">
                                <li><a href="#">Actions,</a></li>
                                <li><a href="#">Thriller,</a></li>
                                <li><a href="#">Comedy</a></li>
                            </ul>
                            <h5 class="latest-movies-price">$ 15.00</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-movies-card-col">
                <div class="card">
                    <div class="img-div">
                        <img src="~/assets/images/movies/banner-3.png"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                        <div class="latest-movies-img-box">
                            <div class="img-box-top">
                                <span class="badge latest-movies-badge text-dark">Premium</span>
                                <p>9.4/10</p>
                            </div>
                            <div class="img-box-bottom">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-play"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-tag"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body-about-side">
                            <a href="movie-details.html">Avengers</a>
                            <p>196 Min</p>
                        </div>
                        <div class="latest-movies-genre-price-side">
                            <ul class="latest-movies-tags-ul">
                                <li><a href="#">Actions,</a></li>
                                <li><a href="#">Thriller,</a></li>
                                <li><a href="#">Comedy</a></li>
                            </ul>
                            <h5 class="latest-movies-price">$ 15.00</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-movies-card-col">
                <div class="card">
                    <div class="img-div">
                        <img src="~/assets/images/movies/banner-4.jpg"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                        <div class="latest-movies-img-box">
                            <div class="img-box-top">
                                <span class="badge latest-movies-badge text-dark">Premium</span>
                            </div>
                            <div class="img-box-bottom">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-play"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-tag"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body-about-side">
                            <a href="movie-details.html">Batman</a>
                            <p>196 Min</p>
                        </div>
                        <div class="latest-movies-genre-price-side">
                            <ul class="latest-movies-tags-ul">
                                <li><a href="#">Actions,</a></li>
                                <li><a href="#">Thriller,</a></li>
                                <li><a href="#">Comedy</a></li>
                            </ul>
                            <h5 class="latest-movies-price">$ 15.00</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-movies-card-col">
                <div class="card">
                    <div class="img-div">
                        <img src="~/assets/images/movies/banner-5.jpg"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                        <div class="latest-movies-img-box">
                            <div class="img-box-top">
                                <span class="badge latest-movies-badge text-dark">Premium</span>
                            </div>
                            <div class="img-box-bottom">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-play"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-tag"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body-about-side">
                            <a href="movie-details.html">Extraction</a>
                            <p>196 Min</p>
                        </div>
                        <div class="latest-movies-genre-price-side">
                            <ul class="latest-movies-tags-ul">
                                <li><a href="#">Actions,</a></li>
                                <li><a href="#">Thriller,</a></li>
                                <li><a href="#">Comedy</a></li>
                            </ul>
                            <h5 class="latest-movies-price">$ 15.00</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-movies-card-col">
                <div class="card">
                    <div class="img-div">
                        <img src="~/assets/images/movies/transform.jpg"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                        <div class="latest-movies-img-box">
                            <div class="img-box-top">
                                <span class="badge latest-movies-badge text-dark">Premium</span>
                                <p>9.4/10</p>
                            </div>
                            <div class="img-box-bottom">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-play"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-tag"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body-about-side">
                            <a href="movie-details.html">Transformer</a>
                            <p>196 Min</p>
                        </div>
                        <div class="latest-movies-genre-price-side">
                            <ul class="latest-movies-tags-ul">
                                <li><a href="#">Actions,</a></li>
                                <li><a href="#">Thriller,</a></li>
                                <li><a href="#">Comedy</a></li>
                            </ul>
                            <h5 class="latest-movies-price">$ 15.00</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-movies-card-col">
                <div class="card">
                    <div class="img-div">
                        <img src="~/assets/images/movies/turtle.jpg"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                        <div class="latest-movies-img-box">
                            <div class="img-box-top">
                                <span class="badge latest-movies-badge text-dark">Premium</span>
                                <p>9.4/10</p>
                            </div>
                            <div class="img-box-bottom">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-play"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-tag"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body-about-side">
                            <a href="movie-details.html">Ninja Turtle</a>
                            <p>196 Min</p>
                        </div>
                        <div class="latest-movies-genre-price-side">
                            <ul class="latest-movies-tags-ul">
                                <li><a href="#">Actions,</a></li>
                                <li><a href="#">Thriller,</a></li>
                                <li><a href="#">Comedy</a></li>
                            </ul>
                            <h5 class="latest-movies-price">$ 15.00</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-movies-card-col">
                <div class="card">
                    <div class="img-div">
                        <img src="~/assets/images/movies/ranger.jpg"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                        <div class="latest-movies-img-box">
                            <div class="img-box-top">
                                <span class="badge latest-movies-badge text-dark">Premium</span>
                                <p>9.4/10</p>
                            </div>
                            <div class="img-box-bottom">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-play"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-tag"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body-about-side">
                            <a href="movie-details.html">Power Ranger</a>
                            <p>196 Min</p>
                        </div>
                        <div class="latest-movies-genre-price-side">
                            <ul class="latest-movies-tags-ul">
                                <li><a href="#">Actions,</a></li>
                                <li><a href="#">Thriller,</a></li>
                                <li><a href="#">Comedy</a></li>
                            </ul>
                            <h5 class="latest-movies-price">$ 15.00</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-movies-card-col">
                <div class="card">
                    <div class="img-div">
                        <img src="~/assets/images/movies/prey.jpg"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                        <div class="latest-movies-img-box">
                            <div class="img-box-top">
                                <span class="badge latest-movies-badge text-dark">Premium</span>
                                <p>9.4/10</p>
                            </div>
                            <div class="img-box-bottom">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-play"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-tag"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body-about-side">
                            <a href="movie-details.html">Birds Of Prey</a>
                            <p>196 Min</p>
                        </div>
                        <div class="latest-movies-genre-price-side">
                            <ul class="latest-movies-tags-ul">
                                <li><a href="#">Actions,</a></li>
                                <li><a href="#">Thriller,</a></li>
                                <li><a href="#">Comedy</a></li>
                            </ul>
                            <h5 class="latest-movies-price">$ 15.00</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-movies-card-col">
                <div class="card">
                    <div class="img-div">
                        <img src="~/assets/images/movies/pirates.jpg"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                        <div class="latest-movies-img-box">
                            <div class="img-box-top">
                                <span class="badge latest-movies-badge text-dark">Premium</span>
                                <p>9.4/10</p>
                            </div>
                            <div class="img-box-bottom">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-play"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-tag"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body-about-side">
                            <a href="movie-details.html">Pirates</a>
                            <p>196 Min</p>
                        </div>
                        <div class="latest-movies-genre-price-side">
                            <ul class="latest-movies-tags-ul">
                                <li><a href="#">Actions,</a></li>
                                <li><a href="#">Thriller,</a></li>
                                <li><a href="#">Comedy</a></li>
                            </ul>
                            <h5 class="latest-movies-price">$ 15.00</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-movies-card-col">
                <div class="card">
                    <div class="img-div">
                        <img src="~/assets/images/movies/godzilla.jpg"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                        <div class="latest-movies-img-box">
                            <div class="img-box-top">
                                <span class="badge latest-movies-badge text-dark">Premium</span>
                                <p>9.4/10</p>
                            </div>
                            <div class="img-box-bottom">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-play"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-tag"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body-about-side">
                            <a href="movie-details.html">GodZilla</a>
                            <p>196 Min</p>
                        </div>
                        <div class="latest-movies-genre-price-side">
                            <ul class="latest-movies-tags-ul">
                                <li><a href="#">Actions,</a></li>
                                <li><a href="#">Thriller,</a></li>
                                <li><a href="#">Comedy</a></li>
                            </ul>
                            <h5 class="latest-movies-price">$ 15.00</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 latest-movies-card-col">
                <div class="card">
                    <div class="img-div">
                        <img src="~/assets/images/movies/baby-driver.jpg"
                             class="card-img-top"
                             alt="Latest Movies Img" />
                        <div class="latest-movies-img-box">
                            <div class="img-box-top">
                                <span class="badge latest-movies-badge text-dark">Premium</span>
                                <p>9.4/10</p>
                            </div>
                            <div class="img-box-bottom">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-play"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-tag"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body-about-side">
                            <a href="movie-details.html">Baby Driver</a>
                            <p>196 Min</p>
                        </div>
                        <div class="latest-movies-genre-price-side">
                            <ul class="latest-movies-tags-ul">
                                <li><a href="#">Actions,</a></li>
                                <li><a href="#">Thriller,</a></li>
                                <li><a href="#">Comedy</a></li>
                            </ul>
                            <h5 class="latest-movies-price">$ 15.00</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- latest movies end -->
@section js{
<script src="~/assets/js/movies.js"></script>
}
