@model BlogViewModel

@{
    ViewData["Title"] = "Blog Details";
}

@section css{
<style>
    .form-paragraph {
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .img-div {
        width: 75%;
    }

        .img-div > img {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
</style>
}

<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label asp-for="Id"></label>
            <p class="form-paragraph">@Model.Id</p>
        </div>
        <div class="form-group">
            <label asp-for="Title">Başlıq:</label>
            <p class="form-paragraph">@Model.Title</p>
        </div>
        <div class="form-group">
            <label asp-for="Description">Ətraflı:</label>
            <p class="form-paragraph">@Model.Description</p>
        </div>
        <div class="form-group">
            <label asp-for="CreatedDate">Əlavə olunma tarixi:</label>
            <p class="form-paragraph">@Model.CreatedDate.ToString("dd.MM.yyyy HH:mm:ss")</p>
        </div>
    </div>
    <div class="col-6">
        @foreach (var item in Model?.BlogImages)
        {
            <div class="form-group">
                <div class="img-div">
                    <img src="~/uploads/blogs/@item.ImagePath" />
                </div>
            </div>
        }
    </div>
</div>
<a asp-action="Index" class="btn btn-danger">Geriyə</a>