#contactus-cards-animation {
  background-image: radial-gradient(
      circle at top center,
      rgba(17, 17, 17, 0) 10%,
      rgba(17, 17, 17, 0.8) 70%
    ),
    url("../images/common/inner-background.jpg");
  background-repeat: repeat-y;
  animation-name: MoveBackground;
  animation-duration: 300s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  padding: 20% 0 12.5% 0;

  @include MediaRespond("tel") {
    padding: 50% 0 30% 0;
  }

  .contactus-cards-animation-container {
    .contactus-cards-animation-row {
      h2 {
        font-family: "Baloo";
        font-size: 3.2rem;
        color: white;
      }

      p {
        font-family: "Baloo";
        color: white;
        font-size: 1.1rem;
      }
    }
  }
}

#contact-side {
  padding: 5% 0;
  border-bottom: 1px solid $border-color;

  @include MediaRespond("tel") {
    padding: 12.5% 0;
  }

  @include MediaRespond("tablet") {
    padding: 12.5% 0;
  }

  .contact-side-container {
    .contact-side-row {
      align-items: center;

      .contact-side-left-part {
        iframe {
          display: inline-block;
          width: 100%;
        }
      }

      .contact-side-right-part {
        @include MediaRespond("tel") {
          margin-top: 5%;
        }

        .contact-side-heading {
          font-family: "Baloo";
          font-weight: 600;
          font-size: 2.2rem;
        }

        .contact-side-description {
          font-family: "Baloo";
          color: #7b7b7b;
          padding-right: 15%;
        }

        #contact-side-form {
          align-items: center;

          [class*="col"] {
            margin-top: 2.5%;

            @include MediaRespond("tel") {
              margin-top: 0;
            }

            @include MediaRespond("tablet") {
              margin-top: 0;
            }

            label {
              display: inline-block;
              font-family: "Baloo";
              margin-bottom: 1.5%;
            }

            input::placeholder,
            textarea::placeholder {
              font-family: "Baloo";
            }

            .error-text {
              visibility: hidden;
              color: #7b7b7b;
              font-family: "Baloo";
              margin-top: 1.5%;

              &.error-active {
                visibility: visible;
              }
            }
          }

          .button-col {
            @include Flexing(center, flex-end);

            button {
              display: inline-block;
              color: white;
              border-radius: 5px;
              background-color: $this-red;
              font-family: "Roboto";
              padding: 8.5px 32.5px;
              border: none;

              &.disabled {
                background-color: #ed6b6b;
              }
            }
          }

          .warn-col {
            p {
              color: #7b7b7b;
              font-family: "Baloo";

              strong {
                margin-right: 0.75%;
              }
            }
          }

          .form-control {
            border-radius: 0;
          }
        }
      }
    }
  }
}
