@model Faq

@{
    ViewData["Title"] = "Edit";
}

@section css{
<link rel="stylesheet" href="~/libs/toastr.js/toastr.min.css" />
}

<form method="post" asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Question" class="label-required">Sual: </label>
        <textarea asp-for="Question" class="form-control"></textarea>
        <span asp-validation-for="Question" style="color: red;"></span>
    </div>
    <div class="form-group">
        <label asp-for="Answer" class="label-required">Cavab: </label>
        <textarea asp-for="Answer" class="form-control"></textarea>
        <span asp-validation-for="Answer" style="color: red;"></span>
    </div>
    <a asp-action="Index" class="btn btn-danger">Geriyə</a>
    <button class="btn btn-info" type="submit">Yenilə</button>
</form>

@section js{
<script src="~/libs/jquery-validate/jquery.validate.min.js"></script>
<script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/libs/autosize.js/autosize.min.js"></script>
<script src="~/libs/toastr.js/toastr.min.js"></script>
<script src="~/libs/toastr.js/toastr.customize.min.js"></script>
<script>
    $(document).ready(function(){
        autosize($('textarea'));

        $('form').on('submit', (e) => {
          e.preventDefault();

          let formData = new FormData(e.currentTarget);

          $.ajax({
            url: '@Url.Action("Edit")',
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(response) {
                if(!response.error){
                    toastr.success(response.message, "Uğurlu!");
                    setTimeout(() => {
                      window.location.assign('@Url.Action("Index")');
                    }, 2000);
                    return;
                }

                toastr.error(response.message, "Xəta!");
            },
            error: function(response) {
                console.log(response);
            }
          });
        });
    });
</script>
}